@charset "utf-8";
/* CSS Document */

.nopadding { padding:0;}
.nomargin{ margin:0;}

@font-face {
font-family: 'HumanHBT';
src:url(../fonts/HUM531N_1.TTF);
}

@font-face {
font-family: 'headingallsite';
src:url(../fonts/comic_2.ttf);
}


@font-face {
font-family: 'pahra';
src:url(../fonts/HUM521L_1.PFM);
}

.bg_spices { background-image:url(../images/bg.jpg); background-position:top, center; background-size:cover; background-repeat:no-repeat;}
.india_spice_nav { background-color:#ef7f1b;}
.header_mini { width:100%;  background-color:#20211c; padding:10px; }
.header_mini_text { color:#FFFFFF; font-size:17px; font-family:'HumanHBT'; }
.header_logo_part {  background-repeat:no-repeat; text-align:center; background-color: #737275;}
.shadow {box-shadow: 1px 1px 29px #353131;}
.part_four { background-color:#FFFFFF; font-family:'HumanHBT'; }
.headingfont { color:#E27D25; font-family:'headingallsite', serif; font-size:44px;}
.pahra_fnt { color:#5B5B5B; padding:30px; font-size:14px; line-height:27px; }
.bg_gray { background-color:#EEF2F3;}
.custome_btn { background-color:#EB811D; color:#FFFFFF; border-radius:20px; padding:10px; font-size:18px; position: relative; bottom: 20px; text-decoration: none;}

.custome_btn:hover{ text-decoration: none;}

.bg_fotter { background-color:#20211C; padding:10px;}

.fotterboxone {border-right:#EBEBEB dotted 1px;}
.fotter_nav { padding: 0; }
.fotter_nav li { color:#FFFFFF; list-style:none;}
.fotter_nav li a { color:#FFFFFF; font-size:16px; text-transform:uppercase; line-height:40px;}
.fotter_heading { color:#FFFFFF; font-size: 18px;}
.spantxtfotter { color:#FFFFFF; font-size:14px; line-height:28px; font-family:'Vollkorn';}
.fotterboxtwo {   padding:12px; padding-left:20px;  border-right:1px dotted #EBEBEB;}
.socialiconsspice a { padding-left:20px; color:#FFF;}
.copyrightwow { background-color:#E2E6E9; height: 40px;  }
.copyrightmain { color: #000;  font-size: 13px; margin-top: 10px; margin-bottom: 10px; float: left;}
.paddingproduct img { padding: 20px; }
.paddingproduct2 { padding: 40px; }
.productheading { color: #666666; }
.productprice { border: 1px solid #cccccc; }
.productprice li { list-style: none; padding: 20px; font-size: 20px; }
.buttonshop { padding: 20px; font-size: 30px; text-align: center; background-color: darkgoldenrod;}
.buttonshop a { color: #fff;}
.bordersocial { border-bottom:2px solid #999;}
.productdescription { background-color: #EFF3F6; }
.smallheading{ padding: 30px;  padding-bottom: 0; font-size: 20px; }
.fssailogo { padding: 50px; }
.re_products { font-size: 19px; }
.re_productprice { font-size: 18px; }
.reproduct_main { margin-bottom: 7%; border-bottom: 2px dotted #ccc;}
.rel_pro_main { margin-top: 5%; }
.myform {padding: 20px; border: 1px solid #F38634; margin-bottom: 30px;}
.contacusformhead { background-color: #F38634; font-size: 25px;  padding: 15px; font-family:'HumanHBT' }
.contactussize{ font-size: 34px; }
.spantxtcontactus { color: #909090; font-size: 16px; font-family:'HumanHBT' }
.contactusheading{ font-size: 18px; color: #909090; font-weight: bold; font-family:'HumanHBT' }
.tablecareer { padding: 50px; }
.manuf_ulli { font-family: "HumanHBT"; color: #5b5b5b; font-size: 16.8px; line-height: 40px; padding: 40px;}
.manuf_ulli li { }

@media (max-width: 768px) {

.header_mini_text { color:#FFFFFF; font-size:12px; font-family:'HumanHBT'; }
.socialiconsspice a { font-size: 10px; }
.fotterboxtwo { text-align: center; border: none; }

.fotterboxone { border: none; text-align: center; }
.copyrightmain { font-size: 8px; padding: 5px; }

 
}
